@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

.credits {
    --borderColor: hsl(167, 40%, 24%);
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0;
    right: 0;
    margin: 15px;
    opacity: .5;
    transition: opacity 1s ease;
}

.credits > img {
    border: 3px solid var(--borderColor);
    border-radius: 50%;
    z-index: 1;
}

.credits__text {
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
    display: block;
    box-shadow: 0 0 0 2px var(--borderColor);
    overflow: hidden;
    height: 45px;
    width: 0;
    padding: 8px 0px;
    white-space: nowrap;
    position: relative;
    right: 18px;
    border-radius: 0 50px 50px 0;
    background-color: whitesmoke;
    transition: 
    width 1s ease,
    padding 1s ease;
}

.credits:hover {
    opacity: 1;
    & > .credits__text {
        padding: 8px 10px 8px 23px;
        width: 250px;
    }
}
